@import "scss-common.scss";
@import "form.css";
.content-box {
  width: 100%;
  padding: 20px 30px;
}
.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.flex-box {
  width: 100%;
  display: flex;
  &.j-center {
    justify-content: center;
  }
  &.a-center {
    align-items: center;
  }
}
h2.title {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500;
}
h2.title.center {
  width: 100%;
  text-align: center;
}
h3.title {
  font-size: 17px;padding-left: 10px;position: relative;
  &::before{content: "";display: inline-block;width:4px;height: 17px;background-color: #1890ff;position: absolute;left: 0;top:5px}
}

.ant-layout {
  background: #fff;
}
.ant-layout-sider {
  width: auto !important;
  max-width: 100% !important;
  flex: none !important;
  background-color: #fff;
  z-index: 100;
}
.nav-top-box {
  @include flex();
  border-bottom: 1px solid #e6f7ff;
  border-right: 1px solid #e6f7ff;
  height: 50px;
  a {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e6f7ff;
    &:last-child {
      border-right: none;
    }
  }
}

.left-nav-menu {
  width: 250px;
  height: calc(100vh - 50px);
  @include mobile() {
    transition: all 0.2s;
    position: fixed;
    left: -100%;
    top: 0;
    &.on {
      left: 0;
      z-index: 100;
      background-color: #fff;
    }
  }
}
.left-nav-menu ul {
  height: 100%;
}
.left-nav-menu li.ant-menu-item {
  margin: 0;
}
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}
.btn-m-close {
  width: 35px;
  height: 35px;
  position: fixed;
  display: none;
  color: #fff;
  cursor: pointer;
  @include mobile() {
    display: inline-block;
    position: fixed;
    z-index: 100;
    left: 250px;
    top: 10px;
  }
}
.btn-m-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: $p-color;
  display: none;
  @include mobile() {
    display: inline-block;
    position: fixed;
    left: 20px;
    top: 20px;
  }
}


/* 관리자 상품등록 */
.admin-prod-form.ant-form-horizontal .ant-form-item-label{width:80px}
.admin-prod-form .ant-input{max-width: 50%;}
.admin-prod-form .ant-input.sm-input{max-width: 150px;}

// 모바일 //
@include mobile() {
  .content-box{padding: 80px 15px 20px 15px;}
  .ant-layout-sider.nav-wrap {
    min-width: 0 !important;
  }
  .admin-prod-form .ant-input{max-width: 100%;}
}