@import "scss-common.scss";
@import "form.css";
.content-box {
  width: 100%;
  padding: 20px 30px;
}
.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ic-loading {
  position: fixed;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  z-index: 10;
}
.ic-loading svg {
  width: 40px;
  height: 40px;
  color: #1890ff;
}
.flex-box {
  width: 100%;
  display: flex;
  &.j-center {
    justify-content: center;
  }
  &.a-center {
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
}
h2.title {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500;
}
h2.title.center {
  width: 100%;
  text-align: center;
}
h3.title {
  font-size: 17px;
  padding-left: 10px;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 17px;
    background-color: #1890ff;
    position: absolute;
    left: 0;
    top: 5px;
  }
}

.ant-layout {
  background: #fff;
}
.ant-layout-sider {
  width: auto !important;
  max-width: 100% !important;
  flex: none !important;
  background-color: #fff;
  z-index: 100;
}
.nav-top-box {
  @include flex();
  border-bottom: 1px solid #e6f7ff;
  border-right: 1px solid #e6f7ff;
  height: 50px;
  a {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e6f7ff;
    &:last-child {
      border-right: none;
    }
  }
}

.left-nav-menu {
  width: 250px;
  height: calc(100vh - 50px);
  @include mobile() {
    transition: all 0.2s;
    position: fixed;
    left: -100%;
    top: 0;
    &.on {
      left: 0;
      z-index: 100;
      background-color: #fff;
    }
  }
}
.left-nav-menu ul {
  height: 100%;
}
.left-nav-menu li.ant-menu-item {
  margin: 0;
}
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}
.btn-m-close {
  width: 35px;
  height: 35px;
  position: fixed;
  display: none;
  color: #fff;
  cursor: pointer;
  @include mobile() {
    display: inline-block;
    position: fixed;
    z-index: 100;
    left: 250px;
    top: 10px;
  }
}
.btn-m-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: $p-color;
  display: none;
  @include mobile() {
    display: inline-block;
    position: fixed;
    left: 20px;
    top: 20px;
  }
}
.order-btn {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background-color: #1672c9;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  &:hover {
    background-color: #156ab9;
  }
}

.order-form-box {
  h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .tit {
    width: 35px;
    font-weight: 500;
    font-size: 13px;
  }
  > .flex-box {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    width: 50px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .radio_hot {
    margin-right: 5px;
  }
  input[type="radio"]:checked + label {
    font-weight: bold;
    color: #fff;
  }
  input[type="radio"]:checked + .radio_hot {
    background-color: #f02424;
    border-color: #f02424;
  }
  input[type="radio"]:checked + .radio_ice {
    background-color: #1890ff;
    border-color: #1890ff;
  }
}

@keyframes neon_blue {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #228dff, 0 0 5px #228dff,
      0 0 8px #228dff;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #228dff, 0 0 2px #228dff, 0 0 3px #228dff;
  }
}

/* 관리자 상품등록 */
.admin-prod-form{margin-bottom: 30px;}
.admin-prod-form.ant-form-horizontal .ant-form-item-label {
  width: 80px;
}
.admin-prod-form .ant-input {
  max-width: 50%;
}
.admin-prod-form .ant-input.sm-input {
  max-width: 150px;
}

.admin-modify-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
  }
  .input-box {
    margin-bottom: 10px;
    .tit {
      width: 50px;
      display: inline-block;
    }
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    margin-left: -1px;
    position: relative;
    cursor: pointer;
  }
  input[type="radio"]:checked + label {
    border-color: #1890ff;
    z-index: 1;
  }
  .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}

.ant-table-column-sorters {
  padding: 8px;
}
.ant-table-cell {
  padding: 8px 10px !important;
}

// 메뉴판
.menuCategory .ant-radio-group {
  width: 100%;
  max-width: 1000px;
  margin: 10px 0 15px 0;
  display: flex;
  .ant-radio-button-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    span {
      text-align: center;
    }
  }
  @media all and (max-width: 1024px) {
    flex-wrap: wrap;
    .ant-radio-button-wrapper {
      width: 25%;
      flex: auto;
      margin-top: -1px;
    }
  }
}

// 주문
.order-check-box{
  display: flex;
  .check{margin-right: 10px;
    input{margin-right: 3px;}
  }
}


// 모바일 //
@include mobile() {
  .content-box {
    padding: 80px 15px 20px 15px;
  }
  .ant-layout-sider.nav-wrap {
    min-width: 0 !important;
  }
  .admin-prod-form .ant-input {
    max-width: 100%;
  }
}



//애니메이션 
.ani-fadeup{
  animation: fade_up 0.6s both;
}
.ani-faderight{
  animation: fade_right 0.6s both;
}
.ani-fadein{
  animation: fade_in 0.4s both;
  &.du-1{animation-duration: 0.2s;}
}
.ani-down{
  animation: ani_down 0.3s both;
}
.delay-0{animation-delay: 0s !important;}
.delay-1{animation-delay: 0.1s !important;}
.delay-2{animation-delay: 0.2s !important;}
.delay-3{animation-delay: 0.3s !important;}
.delay-4{animation-delay: 0.4s !important;}
.delay-5{animation-delay: 0.5s !important;}
.delay-6{animation-delay: 0.6s !important;}
.delay-7{animation-delay: 0.7s !important;}
.delay-8{animation-delay: 0.8s !important;}
.delay-9{animation-delay: 0.9s !important;}
.delay-10{animation-delay: 1s !important;}

@keyframes ani_down {
  from{
    opacity: 0;transform: translateY(-100%);
  }
  to{
    opacity: 1;transform: translateY(0);
  }
}
@keyframes fade_up {
  from{
    opacity: 0;transform: translateY(30px);
  }
  to{
    opacity: 1;transform: translateY(0);
  }
}
@keyframes fade_right {
  from{
    opacity: 0;transform: translateX(-30px);
  }
  to{
    opacity: 1;transform: translateX(0);
  }
}
@keyframes fade_in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}