@charset "UTF-8";
@import url(form.css);
.com-tab-box .tab-content {
  display: none; }

/* 인풋 */
.ant-layout-header {
  background: #fff; }

.content-box {
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto; }

@media all and (min-width: 761px) {
  .content-box {
    padding-left: 250px; } }

.ant-layout-content {
  padding: 30px; }

@media (max-width: 760px) {
  .ant-layout-content {
    padding: 20px 15px; } }

.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.ic-loading {
  position: fixed;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  z-index: 10; }

.ic-loading svg {
  width: 40px;
  height: 40px;
  color: #1890ff; }

.flex-box {
  width: 100%;
  display: flex; }

.flex-box.j-center {
  justify-content: center; }

.flex-box.a-center {
  align-items: center; }

.flex-box.between {
  justify-content: space-between; }

h2.title {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500; }

h2.title.center {
  width: 100%;
  text-align: center; }

h3.title {
  font-size: 17px;
  padding-left: 10px;
  position: relative; }

h3.title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 17px;
  background-color: #1890ff;
  position: absolute;
  left: 0;
  top: 5px; }

.ant-layout {
  background: #fff; }

.ant-layout-sider {
  width: auto !important;
  max-width: 100% !important;
  flex: none !important;
  background-color: #fff;
  z-index: 100; }

@media all and (min-width: 761px) {
  .ant-layout-sider {
    position: absolute;
    height: calc(100% - 100px);
    left: 0;
    margin-left: 0; }
  .ant-layout-sider.fix {
    top: 0;
    position: fixed; } }

@media all and (min-width: 1401px) {
  .ant-layout-sider {
    left: 50%;
    margin-left: -700px; } }

.btn-top-move {
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

@media (max-width: 760px) {
  .btn-top-move {
    width: 30px;
    height: 30px;
    right: 15px;
    bottom: 15px; } }

.header-box {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
  align-items: center;
  justify-content: center; }

.header-box .top-logo {
  width: 180px; }

@media (max-width: 760px) {
  .header-box {
    height: 70px; }
  .header-box .top-logo {
    width: 120px; } }

.top-fix .btn-top-move {
  opacity: 0.9; }

@media (max-width: 760px) {
  .top-fix {
    padding-top: 70px; }
  .top-fix .header-box {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    animation: fade_down 0.2s both; }
  .top-fix .btn-m-menu {
    position: fixed;
    top: 18px;
    animation: fade_down 0.2s both; } }

.nav-top-box {
  background-color: #fff;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e1e1e1;
  height: 50px; }

.nav-top-box a {
  flex: 1;
  text-align: center;
  border-right: 1px solid #e1e1e1; }

.nav-top-box a:last-child {
  border-right: none; }

.left-nav-menu {
  width: 250px;
  height: 100%;
  border: 1px solid #e1e1e1;
  border-width: 0 1px; }

@media (max-width: 760px) {
  .left-nav-menu {
    transition: all 0.2s;
    position: fixed;
    left: -100%;
    top: 0; }
  .left-nav-menu.on {
    left: 0;
    z-index: 100;
    background-color: #fff; } }

.left-nav-menu ul {
  height: calc(100% - 50px);
  background-color: #fff;
  z-index: 100;
  border: none;
  position: relative;
  font-weight: 500; }

.left-nav-menu ul .ant-menu-submenu-title,
.left-nav-menu ul li a {
  display: flex;
  align-items: center; }

.left-nav-menu ul svg {
  width: 16px;
  height: 16px;
  margin-right: 5px; }

.left-nav-menu ul .ant-menu-sub.ant-menu-inline > .ant-menu-item {
  padding-left: 43px !important; }

.left-nav-menu li.ant-menu-item {
  margin: 0; }

.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0; }

.btn-m-close {
  width: 35px;
  height: 35px;
  position: fixed;
  display: none;
  color: #fff;
  cursor: pointer; }

@media (max-width: 760px) {
  .btn-m-close {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    left: 250px;
    top: 10px; } }

.btn-m-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #0e62b1;
  display: none; }

@media (max-width: 760px) {
  .btn-m-menu {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -50px; } }

.order-btn {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background-color: #1672c9;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  outline: none; }

.order-btn:hover {
  background-color: #156ab9; }

.order-form-box h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold; }

.order-form-box .tit {
  width: 35px;
  font-weight: 500;
  font-size: 13px; }

.order-form-box > .flex-box {
  margin-bottom: 10px; }

.order-form-box input[type="radio"] {
  display: none; }

.order-form-box input[type="radio"] + label {
  display: inline-block;
  width: auto;
  min-width: 50px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ddd; }

.order-form-box .radio_hot {
  margin-right: 5px; }

.order-form-box input[type="radio"]:checked + label {
  font-weight: bold;
  color: #fff; }

.order-form-box input[type="radio"]:checked + .radio_hot {
  background-color: #f02424;
  border-color: #f02424; }

.order-form-box input[type="radio"]:checked + .radio_ice {
  background-color: #1890ff;
  border-color: #1890ff; }

@keyframes neon_blue {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #228dff, 0 0 5px #228dff, 0 0 8px #228dff; }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #228dff, 0 0 2px #228dff, 0 0 3px #228dff; } }

/* 관리자 상품등록 */
.admin-prod-form {
  margin-bottom: 30px; }

.admin-prod-form.ant-form-horizontal .ant-form-item-label {
  width: 80px; }

.admin-prod-form .ant-input {
  max-width: 50%; }

.admin-prod-form .ant-input.sm-input {
  max-width: 150px; }

.admin-modify-form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.admin-modify-form input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px; }

.admin-modify-form .input-box {
  margin-bottom: 10px; }

.admin-modify-form .input-box .tit {
  width: 50px;
  display: inline-block; }

.admin-modify-form input[type="radio"] {
  display: none; }

.admin-modify-form input[type="radio"] + label {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  margin-left: -1px;
  position: relative;
  cursor: pointer; }

.admin-modify-form input[type="radio"]:checked + label {
  border-color: #1890ff;
  z-index: 1; }

.admin-modify-form .btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px; }

.ant-table-column-sorters {
  padding: 8px; }

.ant-table-cell {
  padding: 8px 10px !important; }

.menuCategory .ant-radio-group {
  width: 100%;
  max-width: 1000px;
  margin: 10px 0 15px 0;
  display: flex; }

.menuCategory .ant-radio-group .ant-radio-button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center; }

.menuCategory .ant-radio-group .ant-radio-button-wrapper span {
  text-align: center; }

@media all and (max-width: 1024px) {
  .menuCategory .ant-radio-group {
    flex-wrap: wrap; }
  .menuCategory .ant-radio-group .ant-radio-button-wrapper {
    width: 25%;
    flex: auto;
    margin-top: -1px; } }

.order-check-box {
  display: flex; }

.order-check-box .check {
  margin-right: 10px; }

.order-check-box .check input {
  margin-right: 3px; }

.join-form-wrap .input-box {
  position: relative;
  margin-bottom: 20px; }

.join-form-wrap input {
  outline-color: #1672c9; }

.join-form-wrap input + .place-holder {
  line-height: 1;
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 0 4px;
  color: #999;
  transition: all 0.2s; }

.join-form-wrap input:focus + .place-holder,
.join-form-wrap input + .place-holder.on {
  color: #156ab9;
  font-size: 12px;
  top: -12px;
  padding-bottom: 2px;
  z-index: 10; }

.join-form-wrap input:focus + .place-holder span,
.join-form-wrap input + .place-holder.on span {
  position: relative;
  z-index: 2; }

.join-form-wrap input:focus + .place-holder::after,
.join-form-wrap input + .place-holder.on::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  left: 0;
  bottom: 0; }

@media (max-width: 760px) {
  .ant-layout-sider.nav-wrap {
    min-width: 0 !important; }
  .admin-prod-form .ant-input {
    max-width: 100%; } }

.ani-fadeup {
  animation: fade_up 0.6s both; }

.ani-faderight {
  animation: fade_right 0.6s both; }

.ani-fadein {
  animation: fade_in 0.4s both; }

.ani-fadein.du-1 {
  animation-duration: 0.2s; }

.ani-down {
  animation: ani_down 0.3s both; }

.delay-0 {
  animation-delay: 0s !important; }

.delay-1 {
  animation-delay: 0.1s !important; }

.delay-2 {
  animation-delay: 0.2s !important; }

.delay-3 {
  animation-delay: 0.3s !important; }

.delay-4 {
  animation-delay: 0.4s !important; }

.delay-5 {
  animation-delay: 0.5s !important; }

.delay-6 {
  animation-delay: 0.6s !important; }

.delay-7 {
  animation-delay: 0.7s !important; }

.delay-8 {
  animation-delay: 0.8s !important; }

.delay-9 {
  animation-delay: 0.9s !important; }

.delay-10 {
  animation-delay: 1s !important; }

@keyframes ani_down {
  from {
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_up {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_down {
  from {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_right {
  from {
    opacity: 0;
    transform: translateX(-30px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade_in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
